{
  "env": {
    "transpile": {
      "presets": [["@babel/preset-env",{"targets": "maintained node versions"}]],
      "plugins": [
        "add-module-exports"
      ]
    },
    "minify": {
      "presets": [["minify", { builtIns: false }]],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
