{
  "env": {
    "transpile": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "minify": {
      "presets": [["minify", { builtIns: false }]],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
